.Example {
  margin-bottom: var(--ifm-leading);
}

.ForwardButtonIcon {
  margin-left: auto;
}

.MessageGroup > * {
  border-top: 1px solid rgba(0,0,0,.12);
}

[data-theme=dark] .MessageGroup > * {
  border-top: 1px solid rgba(255,255,255,.12);
}

.Message {
  display: flex;
}

.Message :global .MuiButtonBase-root {
  min-width: 0;
  border-radius: 0;
}

.MessagePrefix {
  font-family: var(--ifm-font-family-monospace);
  position: relative;
}

.MessagePrefix::before {
  display: block;
  padding: 0 8px;
  height: 36px;
  line-height: 36px;
  transition: opacity .25s;
}

.Message:hover > .MessagePrefix::before {
  opacity: 0;
}

.MessagePrefixSend::before {
  content: ">>>";
  color: var(--ifm-color-primary);
}

.MessagePrefixRecv::before {
  content: "<<<";
  color: rgba(0,0,0,.5);
}

[data-theme=dark] .MessagePrefixRecv::before {
  color: rgba(255,255,255,.5);
}

.MessageCopy:global(.MuiButtonBase-root) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  opacity: 0;
  transition: opacity .25s;
}

.Message:hover > .MessagePrefix .MessageCopy {
  opacity: .5;
}

.Message > .MessagePrefix:hover .MessageCopy {
  opacity: 1;
}

.MessageButton {
  margin-left: auto;
}

.MessageContent {
  padding: 4px 8px 4px 0;
  white-space: pre-wrap;
}

.MessageContent p,
.MessageContent details,
.MessageContent .Example {
  margin-bottom: 0;
}

.MessageContent img,
.MessageContent audio {
  vertical-align: bottom;
}

.MessageContent img {
  width: 100%;
  max-width: 300px;
}

.Note {
  color: rgba(0,0,0,.5);
}

[data-theme=dark] .Note {
  color: rgba(255,255,255,.5);
}

.Note::before {
  content: '>>>';
  padding: 0 8px;
  font-family: var(--ifm-font-family-monospace);
  opacity: 0;
}
